 html {
     scroll-behavior: smooth;
 }

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     background: linear-gradient(90deg, #f2f2f2, #c7c5c5);

 }

 @media (max-width:576px) {

     body {
         font-size: 70%;
     }
 }

 /***********************************************************HEADER*******************************************************/

 .headContainer {
     width: 100%;
     position: absolute;
     z-index: 5000;
 }

 .head {
     height: 120px;
     background-color: #f2f2f2;
     text-align: center;
     line-height: 1;
     padding-top: 25px;
 }

 .head h1 {
     font-family: Henny Penny;
     color: #B69121;
     font-size: 4.3em;
 }

 .head h2 {
     font-family: roboto;
     font-size: 1.2em;
     color: black;
     letter-spacing: 3px;
 }

 .head img {
     width: 177px;
     height: 173px;
     right: 0;
     top: 0;
     position: absolute;
 }

 .head div {
     top: 35px;
     left: 35px;
     position: absolute;
 }

 .fa {
     padding: 10px;
     font-size: 1.8em;
     width: 50px;
     text-align: center;
     text-decoration: none;
     border-radius: 50%;
 }

 .fa-facebook {
     background-color: transparent;
     color: black;
     opacity: 0.7;
 }

 .fa-facebook:hover {
     color: white;
     background: #3B5998;
     opacity: 1;
 }


 .fa-twitter {
     background-color: transparent;
     color: black;
     opacity: 0.7;
 }

 .fa-twitter:hover {
     color: white;
     background: #55ACEE;
     opacity: 1;
 }

 .fa-instagram {
     background-color: transparent;
     color: black;
     opacity: 0.7;
 }

 .fa-instagram:hover {
     color: white;
     background: #125688;
     opacity: 1;
 }

 @media (max-width:650px) {
     .head {
         text-align: right;
         padding-top: 25px;
         height: 85px;
     }

     .head h1 {
         font-size: 2.5rem;
         padding-right: 30px;
     }

     .head h2 {
         padding-right: 60px;
     }

     .fa {
         padding: 5px;
         width: 25px;
     }

     .head div {
         top: 27px;
         left: 30px;
         position: absolute;
     }

     .fa-facebook:hover,
     .fa-instagram:hover,
     .fa-twitter:hover {
         color: black;
         background: transparent;
         opacity: 1;
     }
 }

 /***********************************************************HEADER*******************************************************/


 /***********************************************************NAVIGATOR*******************************************************/

 .navigatorTop {
     background-color: transparent;
     height: 53px;
     box-shadow: -20px -15px 50px rgba(0, 0, 0, 0.4);
 }

 .navigatorTop ul {
     list-style-type: none;
     display: flex;
     flex-direction: row;
 }

 .navigatorTop li a {
     display: block;
     height: 53px;
     text-decoration: none;
     text-align: center;
     font-family: pattaya;
     box-shadow: inset 15px -15px 15px rgba(0, 0, 0, 0.3);
 }

 .navigatorTop li a span {
     color: #896d1b;
     font-family: Henny Penny;
     font-size: 1.4em;
 }

 #hamburger {
     display: none;
     line-height: 1.6;
     font-size: 1.5rem;
 }

 .conect {
     width: 100px;
     background-color: #9453a6;
     color: black;
     border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;
     border-right: solid;
     font-size: 1.2em;
     line-height: 3;
 }

 .faq {
     width: 150px;
     background-color: #8cbf3f;
     color: black;
     border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;
     border-right: solid;
     font-size: 1.2em;
     line-height: 2.2;
 }

 .media {
     width: 200px;
     background-color: #f2cc0f;
     color: black;
     border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;
     border-right: solid;
     font-size: 1.2em;
     line-height: 3;
 }

 .about {
     width: 250px;
     background-color: #9453a6;
     color: black;
     border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;
     border-right: solid;
     font-size: 1.2em;
     line-height: 3;
 }

 .home {
     width: 642px;
     background-color: black;
     color: #B69121;
     border-bottom-left-radius: 8px;
     font-size: 3em;
     line-height: 1.3;
 }

 .ho:hover {
     height: 60px;
     background-color: #B69121;
     transition: 0.5s ease;
 }

 @media (max-width:576px) {
     .head img {
         display: none;
     }

     #hamburger {
         width: 100vw;
         height: 37px;
         display: block;
         background-color: transparent;
         animation: sliding1 4s alternate;
     }

     @keyframes sliding1 {
         0% {
             transform: translateX(350px);
             opacity: 0;
             background-color: #ffffff
         }

         100% {
             transform: translateX(0);
             opacity: 1;
         }
     }

     .navigatorTop {
         box-shadow: none;
     }

     .navigatorTop ul {
         flex-direction: column;
         display: none;
     }

     .navigatorTop li a {
         height: 37px;
         border-bottom: none;
         border-right: none;
         border-bottom-left-radius: 0;
         border-bottom-right-radius: 8px;
         width: 35%;
     }

     #hamburger:hover+ul {
         display: block;
     }
 }

 /***********************************************************NAVIGATOR*******************************************************/

 /***********************************************************pic**************************************************************/

 .picBox {
     display: none;
     padding-top: 122px;
     position: relative;

 }


 @media (max-width:576px) {
     .imgPicBox {
         width: 100%;
     }

     .picBox {
         display: block;
         padding-top: 122px;
     }

     .carousel-container {
         display: none;
     }

     .carousel {
         display: none;
     }

 }


 /***********************************************************pic**************************************************************/


 /***********************************************************CAROUSEL*******************************************************/




 .carousel-container {
     padding-top: 150px;
     width: 100%;
     height: 900px;
     overflow: hidden;
     box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.4);
 }

 .carousel {

     display: flex;
     animation: sliding 25s infinite;

 }

 @keyframes sliding {
     13% {
         transform: translateX(0);
     }

     15% {
         transform: translateX(-100%);
     }

     28% {
         transform: translateX(-100%);
     }

     30% {
         transform: translateX(-200%);
     }

     43% {
         transform: translateX(-200%);
     }

     45% {
         transform: translateX(-300%);
     }

     58% {
         transform: translateX(-300%);
     }

     60% {
         transform: translateX(-400%);
     }

     73% {
         transform: translateX(-400%);
     }

     75% {
         transform: translateX(-500%);
     }

     88% {
         transform: translateX(-500%);
     }

     95% {
         transform: translateX(0);
     }
 }

 .measure {
     width: 1519px;
     height: 900px;
 }

 .title {
     font-size: 35pt;
     font-family: pattaya;
     font-weight: 100;
     position: relative;
     z-index: 5000;
 }

 .pic1 {
     background-image: url(images/face-mask-1147977.jpg);

 }

 .title1 {
     color: white;
     top: 250px;
     left: 550px;
 }


 .pic2 {
     top: -200px;
     position: relative;
 }

 .title2 {
     color: white;
     top: 120px;
     left: 420px;
 }

 .pic3 {
     top: -300px;
     position: relative;

 }

 .title3 {
     color: #B69121;
     top: 180px;
     left: 250px;
 }

 .mark {
     background-color: darkred;
     width: 300px;
     text-align: center
 }


 .pic4 {
     background-image: url(images/halloween-just\ boo\ it.jpg);

 }

 .title4 {
     color: white;
     top: 500px;
     left: 350px;
 }


 .pic5 {
     background-image: url(images/mardi-gras-4238473.jpg);

 }

 .title5 {
     color: #000;
     top: 150px;
     left: 800px;
 }


 .pic6 {
     background-image: url(images/venetian-mask-1342242.jpg);



 }

 .title6 {
     color: #B69121;
     top: 150px;
     left: 100px;
 }




 /***********************************************************CAROUSEL************************************************************/


 /***********************************************************mayor's words*******************************************************/

 .MayorsWordsContainer {
     background: linear-gradient(45deg, #8cbf3f 50%, #61793e);
     margin-top: 120px;
     margin-left: 120px;
     margin-bottom: 120px;
     box-shadow: -15px 15px 25px rgba(0, 0, 0, 0.6);
 }

 .MayorsWords {
     width: 84%;
     height: 530px;
     font-size: 1em;
     font-family: roboto;
     text-align: justify;
     color: #000;
     line-height: 1.5;
     padding: 20px;
 }

 .MayorsWords img {
     width: 160px;
     float: left;
     margin-right: 15px;
     box-shadow: 3px 13px 45px rgba(0, 0, 0, 0.6);
 }

 .MayorsWords span {
     font-size: 1.1em;
     font-weight: bold;
     font-style: italic;
 }

 @media (max-width: 576px) {
     .MayorsWordsContainer {
         margin-top: 60px;
         margin-left: 60px;
         margin-bottom: 60px;
     }

     .MayorsWords {
         width: 100%;
         height: 620px;
         padding: 14px;
     }

     .MayorsWords img {
         width: 134px;
     }



 }

 /***********************************************************mayor's words*******************************************************/


 /************************************************************youtube************************************************************/

 .youtube {
     display: flex;
     flex-direction: row;
     margin-top: 120px;
 }

 .boxTitle {
     width: 498px;
     height: 507px;
     background: linear-gradient(45deg, #9453A6 40%, #3f064e 100%);
     padding-top: 200px;
     padding-left: 25px;
     line-height: 1;
     color: #000;
     font-size: 2.9em;
     font-family: pattaya;
     font-weight: 100;
     box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.6);
 }

 .movement {
     display: flex;
     animation: sliding2 1.2s infinite;
 }

 .arrow {
     padding: 20px;
 }


 @keyframes sliding2 {
     0% {
         transform: translateX(0);
     }

     66% {
         transform: translateX(40px);
     }

     100% {
         transform: translateX(0);
     }
 }

 @media (max-width:576px) {
     .youtube {
         flex-direction: column;
         margin-top: 0;

     }

     iframe {
         width: 100%;
     }

     .iframeBox {
         width: 100%;
     }

     .boxTitle {
         background: transparent;
         height: 180px;
         padding-top: 70px;
         padding-left: 70px;

     }

     .arrow {
         display: none;

     }

 }


 /************************************************************youtube************************************************************/


 /***********************************************************SPONSORS************************************************************/

 .sponsorTitle {
     color: #000;
     font-size: 2.9em;
     font-family: pattaya;
     text-align: center;
     font-weight: 100;
 }

 .sponsor {
     background-size: cover;
     width: 1200px;
     height: 120px;
 }

 .left {
     background-position-y: bottom;
     justify-content: space-between;
     display: flex;
     flex-direction: row;
     padding-right: 45px;
     box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.6);
     transition: all 1.5s ease;
 }

 .right {
     background-position-y: center;
     margin-left: 313px;
     padding-left: 45px;
     box-shadow: -15px 15px 25px rgba(0, 0, 0, 0.6);
     transition: all 1.5s ease;
 }

 .hov:hover {
     background-position-y: center;
     height: 300px;
 }

 .sponsor1 {
     background-image: url(images/walkOns.jpg);
 }

 .sponsor1:hover {
     background-image: url(images/walkOns2.jpg);
 }


 .sponsor2 {
     background-image: url(images/sheraton.jpg);
 }

 .sponsor2:hover {
     background-image: url(images/sheraton2.jpg);
 }


 .sponsor3 {
     background-image: url(images/ace\ hotel.jpg);
 }

 .sponsor3:hover {
     background-image: url(images/ace\ hotel2.jpg);
 }


 .sponsor4 {
     background-image: url(images/The-Ritz-Carlton.jpg);
 }

 .sponsor4:hover {
     background-image: url(images/The-Ritz-Carlton2.jpg);
 }


 .sponsor5 {
     background-image: url(images/Premium\ Parking.jpg);
 }

 .sponsor5:hover {
     background-image: url(images/Premium\ Parking2.jpg);
 }


 .sponsor6 {
     background-image: url(images/LCM.jpg);
 }

 .sponsor6:hover {
     background-image: url(images/LCM2.jpg);
 }


 .sponsor7 {
     background-image: url(images/museum\ of\ death.jpg);
 }

 .sponsor7:hover {
     background-image: url(images/museum\ of\ death2.jpg);
 }


 .sponsor8 {
     background-image: url(images/haunted\ mudeum.jpg);
 }

 .sponsor8:hover {
     background-image: url(images/haunted\ mudeum2.jpg);
 }


 .btnL {
     font-size: 2.4em;
     width: 800px;
     font-family: Roboto;
     color: white;
     border: solid 3px white;
     background-color: transparent;
     top: 36px;
     position: relative;
     border-radius: 5px;
 }

 .btnR {
     font-size: 2.4em;
     width: 800px;
     font-family: Roboto;
     color: white;
     border: solid 3px white;
     background-color: transparent;
     top: 36px;
     position: relative;
     border-radius: 5px;
 }

 .btnL:hover,
 .btnR:hover {
     border: none;
     background: black;
     transition: all 0.5s ease;
     cursor: pointer;
 }

 .Logo {
     right: 6px;
     position: absolute;
 }

 @media (max-width:576px) {

     .sponsor {
         height: 250px;
         padding-left: 17px;


     }

     .left {
         background-position-y: center;
         background-position-x: center;

     }

     .right {
         background-position-y: center;
         background-position-x: center;
         margin-left: 0;
     }

     .hov:hover {
         background-position-y: center;
         background-position-x: center;

     }

     .Logo {
         right: 0;
         position: absolute;
         width: 50%;
     }

     .LogoL {
         left: 0;
         position: absolute;
         width: 50%;

     }

     .sponsor1 {
         background-image: url(images/walkOns2.jpg);
     }

     .sponsor2 {
         background-image: url(images/sheraton2.jpg);
     }

     .sponsor3 {
         background-image: url(images/ace\ hotel2.jpg);
     }

     .sponsor4 {
         background-image: url(images/The-Ritz-Carlton2.jpg);
     }

     .sponsor5 {
         background-image: url(images/Premium\ Parking2.jpg);
     }

     .sponsor6 {
         background-image: url(images/LCM2.jpg);
     }

     .sponsor7 {
         background-image: url(images/museum\ of\ death2.jpg);
     }

     .sponsor8 {
         background-image: url(images/haunted\ mudeum2.jpg);
     }



     .btnR {
         top: 190px;
         width: 32%;
         height: 45px;
         color: white;
         background-color: black;
         border: none;
         position: relative;
         margin-right: 200px;
         font-size: 1.2rem;

     }

     .btnL {
         top: -15px;
         width: 32%;
         height: 45px;
         color: white;
         background-color: black;
         border: none;
         position: relative;
         margin-right: 200px;
         font-size: 1.2rem;

     }

     .left {

         flex-direction: column;
     }

     .sponsorTitle {
         font-size: 1.9rem;
     }
 }

 /***********************************************************SPONSORS*************************************************************/


 /***********************************************************nav buttom***********************************************************/

 .navigatorButtom {
     width: 100%;
     background-color: black;
     height: 53px;
 }

 .navigatorButtom ul {
     list-style-type: none;
     display: flex;
     justify-content: center;
 }

 .navigatorButtom li a {
     display: block;
     padding: 15px 100px;
     text-decoration: none;
     font-family: roboto;
     font-size: 1.3em;
     color: #B69121;
 }

 .top {
     color: #8cbf3f !important;
 }




 .foot {
     width: 100%;
     height: 120px;
     background-color: #f2f2f2;
     box-shadow: inset 0px 15px 25px rgba(0, 0, 0, 0.6);
     padding-top: 30px;
 }

 .foot div {
     width: 38%;
     text-align: center;
     letter-spacing: 2.5px;
     font-size: 0.5em;
     font-family: roboto;
     margin: auto;
 }

 .fafa {
     background-color: #3B5998;
     padding: 4px;
     padding-left: 7px;
     font-size: 1.3em;
     width: 5%;
     opacity: 1;
     color: white;
    

 }

 @media (max-width:576px) {
     .navigatorButtom {
         background-color: transparent;
         height: 0px;
     }

     .navigatorButtom ul {
         flex-direction: column;
     }

     .navigatorButtom li a {
         padding: 0;
         text-decoration: underline;
         color: black;
         font-size: 0.7rem;
         margin-top: 8px;
         text-align: center;
         padding-left:230px;

     }

     .foot {


          padding-top: 35px;

     }

     .foot div {
         width: 60%;
         text-align: left;
        margin-left: 10px;
        
     }

     .fafa {
         padding: 5px;
         padding-left: 7px;
         width: 23px;
     }

     .fafa:hover {
         background-color: #3B5998;
         color: white;
     }

     .phon{
        display: none;
     }
 }