 html {
     scroll-behavior: smooth;
 }

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     background: linear-gradient(70deg, #f2f2f2, #918f8f);
 }

 @media (max-width:576px) {

     body {
         font-size: 70%;
     }
 }


 /***********************************************************HEADER*******************************************************/

 .headContainer {
     width: 100%;
     position: absolute;
     z-index: 5000;
 }

 .head {
     height: 120px;
     background-color: #f2f2f2;
     text-align: center;
     line-height: 1;
     padding-top: 25px;
 }

 .head h1 {
     font-family: Henny Penny;
     color: #B69121;
     font-size: 4.3em;
 }

 .head h2 {
     font-family: roboto;
     font-size: 1.2em;
     color: black;
     letter-spacing: 3px;
 }

 .head img {
     width: 177px;
     height: 173px;
     right: 0;
     top: 0;
     position: absolute;
 }

 .head div {
     top: 35px;
     left: 35px;
     position: absolute;
 }

 .fa {
     padding: 10px;
     font-size: 1.8em;
     width: 50px;
     text-align: center;
     text-decoration: none;
     border-radius: 50%;
 }

 .fa-facebook {
     background-color: transparent;
     color: black;
     opacity: 0.7;
 }

 .fa-facebook:hover {
     color: white;
     background: #3B5998;
     opacity: 1;
 }


 .fa-twitter {
     background-color: transparent;
     color: black;
     opacity: 0.7;
 }

 .fa-twitter:hover {
     color: white;
     background: #55ACEE;
     opacity: 1;
 }

 .fa-instagram {
     background-color: transparent;
     color: black;
     opacity: 0.7;
 }

 .fa-instagram:hover {
     color: white;
     background: #125688;
     opacity: 1;
 }

 @media (max-width:576px) {
     .head {
         text-align: right;
         padding-top: 25px;
         height: 85px;
     }

     .head h1 {
         font-size: 2.5rem;
         padding-right: 30px;
     }

     .head h2 {
         padding-right: 60px;
     }

     .fa {
         padding: 5px;
         width: 20px;
     }

     .head div {
         top: 27px;
         left: 30px;
         position: absolute;
     }

     .fa-facebook:hover,
     .fa-instagram:hover,
     .fa-twitter:hover {
         color: black;
         background: transparent;
         opacity: 1;
     }


 }

 /***********************************************************HEADER*******************************************************/


 /***********************************************************NAVIGATOR*******************************************************/

 .navigatorTop {
     background-color: transparent;
     height: 53px;
     box-shadow: -20px -15px 50px rgba(0, 0, 0, 0.4);
 }

 .navigatorTop ul {
     list-style-type: none;
     display: flex;
     flex-direction: row;
 }

 .navigatorTop li a {
     display: block;
     height: 53px;
     text-decoration: none;
     text-align: center;
     font-family: pattaya;
     box-shadow: inset 15px -15px 15px rgba(0, 0, 0, 0.3);
 }

 .navigatorTop li a span {
     color: #896d1b;
     font-family: Henny Penny;
     font-size: 1.4em;
 }

 #hamburger {
     display: none;
     line-height: 1.6;
     font-size: 1.5rem;

 }

 .conect {
     width: 100px;
     background-color: #9453a6;
     color: black;
     border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;
     border-right: solid;
     font-size: 1.2em;
     line-height: 3;
 }

 .faq {
     width: 150px;
     background-color: #f2cc0f;
     color: black;
     border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;
     border-right: solid black;
     font-size: 1.2em;
     line-height: 2.2;
 }

 .media {
     width: 642px;
     background-color: black;
     color: #B69121;
     border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;
     border-right: solid black;
     font-size: 3em;
     line-height: 1.3;
 }

 .about {
     width: 200px;
     background-color: #8cbf3f;
     color: black;
     border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;
     border-right: solid black;
     font-size: 1.2em;
     line-height: 3;
 }

 .home {
     width: 250px;
     background-color: #9453a6;
     color: black;
     border-bottom-left-radius: 8px;
     font-size: 1.2em;
     line-height: 3;
 }

 .ho:hover {
     height: 60px;
     background-color: #B69121;
     transition: 0.5s ease;
 }

 @media (max-width:576px) {
     .head img {
         display: none;
     }


     #hamburger {
         width: 100vw;
         height: 37px;
         display: block;
         background-color: #B69121;
         border-bottom: 1px solid #000;
        
     }

     .navigatorTop {
         box-shadow: none;
     }

     .navigatorTop ul {
         flex-direction: column;
         display: none;
     }

     .navigatorTop li a {
         height: 37px;
         border-bottom: 1px solid #000;
         width: 100vw;
     }

     #hamburger:hover+ul {
         display: block;
     }
 }

 /***********************************************************NAVIGATOR*******************************************************/

 /***********************************************************pic**************************************************************/

 .picBox {

     padding-top: 168px;

 }


 @media (max-width: 576px) {
     img {
         width: 100%;
     }

     .picBox {
         padding-top: 122px;
     }
 }


 /***********************************************************pic**************************************************************/





 /***********************************************************nav buttom***********************************************************/

 .navigatorButtom {
     background-color: black;
     height: 53px;
 }

 .navigatorButtom ul {
     list-style-type: none;
     display: flex;
     justify-content: center;
 }

 .navigatorButtom li a {
     display: block;
     padding: 15px 100px;
     text-decoration: none;
     font-family: roboto;
     font-size: 1.3em;
     color: #B69121;
 }

 .top {
     color: #8cbf3f !important;
 }


 .foot {
     height: 120px;
     background-color: #f2f2f2;
     text-align: center;
     font-family: roboto;
     font-size: 0.5em;
     letter-spacing: 2.5px;
     padding-top: 34px;
     box-shadow: inset 0px 15px 25px rgba(0, 0, 0, 0.6);
 }

 .fafa {
     background-color: #3B5998;
     padding: 5px;
     padding-left: 7px;
     font-size: 1.3em;
     width: 30px;
     opacity: 1;
     color: white;

 }

 @media (max-width:576px) {
     .navigatorButtom {
         background-color: transparent;
         height: 5px;
     }

     .navigatorButtom ul {
         flex-direction: column;
     }

     .navigatorButtom li a {
         padding: 0;
         text-decoration: underline;
         color: black;
         font-size: 0.7rem;
         margin-top: 4px;
         text-align: center;
         padding-right: 400px;

     }

     .foot {
         height: 85px;
         text-align: right;
         padding-right: 20px;
         padding-top: 25px;
     }

     .fafa {
         padding: 5px;
         padding-left: 7px;
         width: 23px;
     }

     .fafa:hover {
         background-color: #3B5998;
         color: white;
     }
 }