 html {
     scroll-behavior: smooth;
 }

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     background: linear-gradient(90deg, #f2f2f2, #c7c5c5);
 }

 @media (max-width:576px) {

     body {
         font-size: 70%;
     }
 }


 /***********************************************************HEADER*******************************************************/

 .headContainer {
     width: 100%;
     position: absolute;
     z-index: 5000;
 }

 .head {
     height: 120px;
     background-color: #f2f2f2;
     text-align: center;
     line-height: 1;
     padding-top: 25px;
 }

 .head h1 {
     font-family: Henny Penny;
     color: #B69121;
     font-size: 4.3em;
 }

 .head h2 {
     font-family: roboto;
     font-size: 1.2em;
     color: black;
     letter-spacing: 3px;
 }

 .head img {
     width: 177px;
     height: 173px;
     right: 0;
     top: 0;
     position: absolute;
 }

 .head div {
     top: 35px;
     left: 35px;
     position: absolute;
 }

 .fa {
     padding: 10px;
     font-size: 1.8em;
     width: 50px;
     text-align: center;
     text-decoration: none;
     border-radius: 50%;
 }

 .fa-facebook {
     background-color: transparent;
     color: black;
     opacity: 0.7;
 }

 .fa-facebook:hover {
     color: white;
     background: #3B5998;
     opacity: 1;
 }


 .fa-twitter {
     background-color: transparent;
     color: black;
     opacity: 0.7;
 }

 .fa-twitter:hover {
     color: white;
     background: #55ACEE;
     opacity: 1;
 }

 .fa-instagram {
     background-color: transparent;
     color: black;
     opacity: 0.7;
 }

 .fa-instagram:hover {
     color: white;
     background: #125688;
     opacity: 1;
 }

 @media (max-width:576px) {
     .head {
         text-align: right;
         padding-top: 25px;
         height: 85px;
     }

     .head h1 {
         font-size: 2.5rem;
         padding-right: 30px;
     }

     .head h2 {
         padding-right: 60px;
     }

     .fa {
         font-size: 1.5rem;
         padding: 5px;
         width: 30px;
     }

     .head div {
         top: 27px;
         left: 15px;
         position: absolute;
     }

     .fa-facebook:hover,
     .fa-instagram:hover,
     .fa-twitter:hover {
         color: black;
         background: transparent;
         opacity: 1;
     }


 }

 /***********************************************************HEADER*******************************************************/


 /***********************************************************NAVIGATOR*******************************************************/

 .navigatorTop {
     background-color: transparent;
     height: 53px;
     box-shadow: -20px -15px 50px rgba(0, 0, 0, 0.4);
 }

 .navigatorTop ul {
     list-style-type: none;
     display: flex;
     flex-direction: row;
 }

 .navigatorTop li a {
     display: block;
     height: 53px;
     text-decoration: none;
     text-align: center;
     font-family: pattaya;
     box-shadow: inset 15px -15px 15px rgba(0, 0, 0, 0.3);
 }

 .navigatorTop li a span {
     color: #896d1b;
     font-family: Henny Penny;
     font-size: 1.4em;
 }

 #hamburger {
     display: none;
     line-height: 1.3;
     font-size: 1.9rem;
 }

 .conect {
     width: 100px;
     background-color: #9453a6;
     color: black;
     border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;
     border-right: solid;
     font-size: 1.2em;
     line-height: 3;
 }

 .faq {
     width: 150px;
     background-color: #f2cc0f;
     color: black;
     border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;
     border-right: solid black;
     font-size: 1.2em;
     line-height: 2.2;
 }

 .media {
     width: 642px;
     background-color: black;
     color: #B69121;
     border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;
     border-right: solid black;
     font-size: 3em;
     line-height: 1.3;
 }

 .about {
     width: 200px;
     background-color: #8cbf3f;
     color: black;
     border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;
     border-right: solid black;
     font-size: 1.2em;
     line-height: 3;
 }

 .home {
     width: 250px;
     background-color: #9453a6;
     color: black;
     border-bottom-left-radius: 8px;
     font-size: 1.2em;
     line-height: 3;
 }

 .ho:hover {
     height: 60px;
     background-color: #B69121;
     transition: 0.5s ease;
 }

 @media (max-width:576px) {

     .head img {
         display: none;
     }

     #hamburger {
         width: 100%;
         height: 37px;
         display: block;
         background-color: transparent;
         animation: sliding 4s alternate;

     }

     @keyframes sliding {
         0% {
             transform: translateX(350px);
             opacity: 0;
             background-color: #ffffff
         }

         100% {
             transform: translateX(0);
             opacity: 1;
         }
     }

     .navigatorTop {
         box-shadow: none;
     }

     .navigatorTop ul {
         flex-direction: column;
         display: none;
     }

     .navigatorTop li a {
         height: 37px;
         border-bottom: none;
         border-right: none;
         border-bottom-left-radius: 0;
         border-bottom-right-radius: 8px;
         width: 35%;
     }

     #hamburger:hover+ul {
         display: block;

     }
 }

 /***********************************************************NAVIGATOR*******************************************************/

 /***********************************************************pic**************************************************************/

 .picBox {

     padding-top: 168px;

 }


 @media (max-width: 576px) {
     img {
         width: 100%;
     }

     .picBox {
         padding-top: 122px;
     }
 }


 /***********************************************************pic******************************************************************/


 /***********************************************************gallery**************************************************************/

 .h1Media {
     font-family: Henny Penny;
     font-size: 2.7em;
     color: #B69121;
     text-align: center;
 }


 .container {
     width: 95%;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 15px;
     margin: auto;
     z-index: 1;

 }

 .container img {
     width: 100%;
     border: #896d1b solid 3px;


 }

 .container img:hover {
     opacity: 0.7;
 }

 .pic5 {
     grid-column: 1/3;
     grid-row: 2/4;
 }

 .pic17 {
     grid-column: 3/5;
     grid-row: 5/7;
 }

 .pic5 img,
 .pic17 img {
     height: 99.5%;
 }


 .HiddenContainer {
     position: absolute;
     left: 17.5%;
     top: 1200px;
     width: 65%;
     display: none;
     z-index: 5000;
 }

 .closebtn {
     position: absolute;
     top: 20px;
     right: 35px;
     color: black;
     font-size: 70px;
     cursor: pointer;
 }

 #expandedImg {
     width: 100%;
     border: #896d1b solid 20px;
     border-radius: 10px;
 }

 #expandedImg:hover {
     opacity: 1;
 }




 @media (max-width: 576px) {

     .container {
         grid-template-columns: repeat(1, 1fr);
     }

     .pic5 {
         grid-column: 1/2;
         grid-row: 2/3;
     }

     .pic17 {
         grid-column: 1/2;
         grid-row: 5/6;
     }

     .container img {
         width: 100%;
         border: #896d1b solid 3px;
     }

     .h1Media {
         font-size: 1.4rem;
     }

     .container img:hover {
         opacity: 1;
     }

 }




 /***********************************************************gallery***************************************************************/


 /***********************************************************nav buttom***********************************************************/

 .navigatorButtom {
     width: 100%;
     background-color: black;
     height: 53px;
 }

 .navigatorButtom ul {
     list-style-type: none;
     display: flex;
     justify-content: baseline
 }

 .navigatorButtom li a {
     display: block;
     padding: 15px 100px;
     text-decoration: none;
     font-family: roboto;
     font-size: 1.3em;
     color: #B69121;
 }

 .top {
     display: none;
     color: #8cbf3f !important;
     padding-top: 2px;
     padding-left: 325px;
     position: absolute;
     font-size: 1rem;
 }


 .foot {
     display: flex;
     width: 100%;
     height: 120px;
     background-color: #f2f2f2;
     box-shadow: inset 0px 15px 25px rgba(0, 0, 0, 0.6);


 }

 .links {
     display: none;
     line-height: 1.4;
     font-size: 0.9rem;
     font-family: roboto;
     padding-left: 10px;
     padding-top: 2px;

 }

 .links a {
     color: black;

 }

 .siteBy {

     text-align: center;
     letter-spacing: 2.5px;
     font-size: 0.5em;
     font-family: roboto;
     margin: auto;

 }

 .fafa {
     background-color: #3B5998;
     padding: 5px;
     padding-left: 7px;
     font-size: 1.3em;
     width: 30px;
     opacity: 1;
     color: white;

 }

 @media (max-width:576px) {

     .navigatorButtom {
         display: none;
     }

     .foot {
         height: 85px;
     }

     .links {
         display: block;

     }

     .fafa {
         padding: 5px;
         padding-left: 7px;
         width: 23px;
     }

     .fafa:hover {
         background-color: #3B5998;
         color: white;
     }

     .phone {
         display: none;
     }

     .siteBy {
         padding-top: 10px;
         margin-right: 65px;
     }

     .top {
         display: block;
         color: #9453a6 !important
     }
 }